div {
  font-size: 18pt;
  color: #222222;
}

img {
width: 50%;
  }

  p {
font-family: Helvetica, Arial, sans-serif;
font-size: 14pt;
}

a {
   color: #111111;
    font-size: 16pt;
}

div {
  color: #222222;
  font-size: 18pt;
}

p {
  font-family: Helvetica,
               Arial,
               sans-serif;
}
a {
  color: #111111; 
  font-size: 16pt; 
}


div {
  color: #222222; 
  font-size: 18pt; 
}
p {
  font-family: Helvetica, Arial, sans-serif;
}
    p,h1{
  color:red;
  font-family:serif; font-size:16pt;}
    a {text-decoration:none}